@model Ecommerce.Models.DTOs.EditDTO
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Dashboard/_Dashboard.cshtml";
}


<div class="col-6 mx-auto rounded" style="background:#343957">
  
    <div class="uf-form-signin text-dark">
        <div class="text-center">
            <a href=""><img src="~/assets/img/logo-fb.png" alt="" width="100" height="100"></a>
            <h1 class="text-white h3">Edit Account Register</h1>
        </div>
        <form class="mt-4" method="post" enctype="multipart/form-data">
            <div class="input-group uf-input-group input-group-lg mb-3">
                <span class="input-group-text fa fa-user"></span>
                <input type="text" class="form-control" placeholder="Your name" asp-for="Id" readonly>
            </div>
            <div class="input-group uf-input-group input-group-lg mb-3">
                <span class="input-group-text fa fa-user"></span>
                <input type="text" class="form-control" placeholder="Your name" asp-for="Name">
            </div>
            <div class="input-group uf-input-group input-group-lg mb-3 >
                <span class="input-group-text fa fa-envelope"></span>
                <input type="text" class="form-control" placeholder="Email address" asp-for="Email">
            </div>
            <div class="input-group uf-input-group input-group-lg mb-3">
                <span class="input-group-text fa fa-phone"></span>
                <input type="text" class="form-control" placeholder="Your phone" asp-for="PhoneNumber">
            </div>
            <div class="input-group uf-input-group input-group-lg mb-3">
                <span class="input-group-text fa fa-lock"></span>
                <input type="password" class="form-control" placeholder="Password" asp-for="Password">
            </div>


            <div class="input-group uf-input-group input-group-lg mb-3 d-flex justify-content-between">
                <input class="input-group-text fa fa-image mb-3" type="file" id="formFile" asp-for="UpdateImage">
                @if (!string.IsNullOrEmpty(Model.ExistImage))
                {
                    <img src="~/UserImages/@Model.ExistImage" width="50" height="50" asp-append-version="true"/>
                }
                else
                {
                    <span>No Image</span>
                }
          </div>
            <div class="d-grid mb-4">
                <button type="submit" class="btn uf-btn-primary btn-lg text-light btn btn-dark">Update</button>
            </div>
          
        </form>
    </div>
</div>



