@model Ecommerce.Models.DTOs.RegisterDTO
@{
    ViewData["Title"] = "Register";
    Layout = "Register_Login/_Register_Login";
    // Layout = "~/Views/Shared/Register_Login/_Register_Login.cshtml";
}

<div class="uf-form-signin">
    <div class="text-center">
        <a href=""><img src="~/assets/img/logo-fb.png" alt="" width="100" height="100"></a>
        <h1 class="text-white h3">Account Register</h1>
    </div>
    <form class="mt-4" method="post" enctype="multipart/form-data">
        <div class="input-group uf-input-group input-group-lg mb-3">
            <span class="input-group-text fa fa-user"></span>
            <input type="text" class="form-control" placeholder="Your name" asp-for="Name">
        </div>
        <div class="input-group uf-input-group input-group-lg mb-3">
            <span class="input-group-text fa fa-envelope"></span>
            <input type="text" class="form-control" placeholder="Email address"asp-for="Email">
        </div>
        <div class="input-group uf-input-group input-group-lg mb-3">
            <span class="input-group-text fa fa-phone"></span>
            <input type="text" class="form-control" placeholder="Your phone" asp-for="PhoneNumber">
        </div>
        <div class="input-group uf-input-group input-group-lg mb-3">
            <span class="input-group-text fa fa-lock"></span>
            <input type="password" class="form-control" placeholder="Password" asp-for="Password">
        </div>


        <input class="input-group-text fa fa-image mb-3" type="file" id="formFile" asp-for="Image">
        
        <div class="d-grid mb-4">
            <button type="submit" class="btn uf-btn-primary btn-lg">Sign Up</button>
        </div>
        <div class="mt-4 text-center">
            <span class="text-white">Already a member?</span>
            <a asp-action="Login" asp-controller="Auth">Login</a>
        </div>
    </form>
</div>

